@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');

body {
    width: 100%;
    background: #B7D8B7;
    position: relative;
}

#menu {
    background: #000;
    width: 300px;
    height: 100%;
}